@model ContractClaimSystem.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2>@Model?.RequestId</h2>
<p>An error occurred while processing your request.</p>
